#imagesCarousel{
  display: inline-block;
  position: relative;
  width: 70%;
}

#checkout {
  display: inline-block;
  position: relative;
  width: 20%;
  vertical-align: top;
}

#service #Reviews{
  margin-top: 50px;
}

#titleProductname{
  font-size: 23px;
}

#homepageHeader{
  height: 75px;
  background-color: rgb(204, 0, 0);
  color: white;
  display: flex;
  align-items: center;
}

.headerLinks {
  font-size: 20px;
  display: inline-block;
  margin: 0px 20px;
}

.centerSection {
  width: 85%;
  margin: auto;
  margin-bottom: 50px;
}